@import "tailwindcss";

body{
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

.monsterrat{
    font-family: 'Montserrat';
}

:root{
    --color-blue-navy: #374151;
    --color-gray:#6B7280;
    --color-blue:#1E3A8A;
    --color-light:#F0FFDF;
}

.bg-background {
    background-color: var(--color-blue-navy);
}

.bg-login {
    background-image: url('/images/background.png');
    background-size: cover;
    background-position: center;
}

.bg-header {
    background-color: var(--color-blue);
}

.title {
    color:var(--color-gray);
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
}

.error{
    color: red;
    font-size: 16px;
    padding: 10px 5px;
}

.remember{
    font-size: 14px;
    color: var(--color-gray);
}

.remember:hover{
   color:black;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.title-notifikasi{
    color: var(--color-gray);
    font-size: 16px;
    font-family: "Roboto Condensed", sans-serif;
}

.font-medium{
    font-size: 14px;
}
